@page "/"

<PageTitle>Home</PageTitle>

<div class="card">
    <div class="card-title">
        <h3 class="card-title">Welcome to the Tanzu Webstore Order History Tracker</h3>
    </div>
    <div class="card-body">
        <p>Navigate to the Customers tab and use this service to track and view customers and their order history</p>
    </div>
</div>
